In [7]:
from random import shuffle
import numpy as np
import csv

In [24]:
core_staff = ["Na Helian", "Shabnam Kadir", "Rod Adams", "Rene te Boekhorst", "Volker Steuber"]
research_fellows = ["Mohammad Tayarani-Najaran", "Reinoud Maex", "Yi Sun", "Damien Drix", "Ritesh Kumar"]
active_students = ["Yaqoob Muhammad", "Emil Dmitruk  ", "Ohki Katakura", "Rebecca Miko", "Nathan Beka", "Ankur Sinha", "Deepak Panday", "Sam Sutton"]
# -Julia Goncharenko
unknown_status= ["Ronak Bhavsar", "Udeshika Dissanayake", "Edward Wakelam", "Marco Craveiro"]

csv_file_name = "rota-data-2019b.csv"

In [3]:
everyone_list = core_staff + research_fellows + active_students
non_core_list = research_fellows+ active_students

In [4]:
def shuffle_list(new_list):
    print ("Original list : {}\n\n".format(new_list))
    shuffle(new_list)
    print ("List after first shuffle: {}".format(new_list))

#     shuffle(new_list)
#     print ("List after second shuffle  : ",  new_list)

In [5]:
shuffle_list(everyone_list)

Original list : ['Na Helian', 'Shabnam Kadir', 'Rod Adams', 'Rene te Boekhorst', 'Volker Steuber', 'Mohammad Tayarani-Najaran', 'Reinoud Maex', 'Yi Sun', 'Damien Drix', 'Ritesh Kumar', 'Yaqoob Muhammad', 'Emil Dmitruk  ', 'Ohki Katakura', 'Rebecca Miko', 'Nathan Beka', 'Ankur Sinha', 'Deepak Panday', 'Sam Sutton']


List after first shuffle: ['Rebecca Miko', 'Nathan Beka', 'Volker Steuber', 'Ankur Sinha', 'Deepak Panday', 'Shabnam Kadir', 'Yaqoob Muhammad', 'Reinoud Maex', 'Ohki Katakura', 'Sam Sutton', 'Mohammad Tayarani-Najaran', 'Rene te Boekhorst', 'Yi Sun', 'Rod Adams', 'Damien Drix', 'Ritesh Kumar', 'Na Helian', 'Emil Dmitruk  ']

In [17]:
final_list = ['Rebecca Miko', 'Nathan Beka', 'Volker Steuber', 'Ankur Sinha', 'Deepak Panday', 'Shabnam Kadir', 'Yaqoob Muhammad', 'Reinoud Maex', 'Ohki Katakura', 'Sam Sutton', 'Mohammad Tayarani-Najaran', 'Rene te Boekhorst', 'Yi Sun', 'Rod Adams', 'Damien Drix', 'Ritesh Kumar', 'Na Helian', 'Emil Dmitruk  ']

In [28]:
csv_line_template = "{},\"\",\"\",0,0,0,0,1\n"

In [29]:

for person in final_list:
        print(csv_line_template.format(person))

Rebecca Miko,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Nathan Beka,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Volker Steuber,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Ankur Sinha,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Deepak Panday,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Shabnam Kadir,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Yaqoob Muhammad,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Reinoud Maex,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Ohki Katakura,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Sam Sutton,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Mohammad Tayarani-Najaran,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Rene te Boekhorst,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Yi Sun,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Rod Adams,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Damien Drix,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Ritesh Kumar,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Na Helian,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

Emil Dmitruk  ,"","",0,0,0,"D118, University of Hertfordshire, College Lane, Hatfield, UK, AL10 9AB",1

In [30]:

with open(csv_file_name, mode='w') as rota_file:
    for person in final_list:
        rota_file.write(csv_line_template.format(person))